div {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.sectionOne {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  height: 100%;
}

.outer-sect {
  border: 5px solid black;
}

.gridLimit {
  /* height: auto; */
}

.grid-cont {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.grid-cont:hover {
  background-color: grey;
}

.hover {
  background-color: brown;
}

.square {
  background-color: pink;
}
