/* .sqStyle {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid black;
  background-color: pink;
} */

div {
  box-sizing: border-box;
}

.outer-sect {
  display: flex;
  justify-content: center;
  border: 5px solid black;
}

.gridLimit {
  height: auto;
}

.grid-cont {
  display: flex;
  flex-wrap: wrap;
}
